[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
tqdm = "*"
scipy = "*"
autopep8 = "*"
flake8 = "*"
questionary = "*"
joblist = "*"
joblib = "*"
umap-learn = "*"
imageio = "*"

[dev-packages]

[requires]
python_version = "3.11"
